<h1>一覧画面</h1>


    <div class ="container">
        <div class ="row">
            <div class ="col-md-3">
                <h2>User info</h2>
                <%= form_with model: @user do |f| %>
                    <%= f.file_field :image, accept: "image/*" %>
                   
                
                <table class ="table">
                    <tbody>
                        <tr>
                            <th>name</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>introduction</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
                
                <div class ="row">
                    <%= f.submit 'プロフィール編集画面' %>
                <% end %>
                </div>
            
                
                <h2>New book</h2>
                    <%= form_with model: @book do |f| %>
                            <h4>Title</h4>
                            <%= f.text_field :Title %>
                            <h4>Opinion</h4>
                            <%= f.text_area :Opinion %>
                            
                            <%= f.submit 'Create Book' %>
    
                    <% end %>
            </div>
            
            <div class ="col-md-8">
                <h2>Books</h2>
                <table class ="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Opinion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>