<h1>詳細画面</h1>
    <div class ="container">
        <div class ="row">
            <div class ="col-md-3">
                <h2>User info</h2>
                <%= render 'users/user', user: @user %>
        
                <h2>New book</h2>
                <%= render 'books/book', book: @book %>
            </div>
            
            
            <div class ="col-md-8">
                <h2>Book detail</h2>
                <table class ="table">
                    <% @books.each do |book| %>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Opinion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            <%= link_to user_path(@user) do %>
                            <%= image_tag book.user.get_profile_image(100,100) %>
                            <% end %>
                            </td>
                            <td><%= link_to book.title, book_path(book.id) %></td>
                            <td><%= book.body %></td>
                        </tr>
                    </tbody>
                    <% end %>
                    
                </table>
            </div>
        </div>
    </div>