<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/b6039806a1.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="social"></div>
      <div class ="container">
        <div class = "row">
          
        <nav class ="nav navbar-left">
            <span><%= link_to "Bookers", root_path %></span>
        </nav> 
        <nav>
          <ul class ="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <i class="fa-solid fa-house"><%= link_to "Home", user_path(current_user) %></i>
                
              </li>
              <li>
                <i class="fa-solid fa-users"><%= link_to "Users", users_path %></i>
              </li>
              <li>
                <i class="fa-solid fa-book-open"><%= link_to "Books", books_path %></i>
              </li>
              <li>
                <i class="fa-solid fa-right-to-bracket"><%= link_to "Log out", destroy_user_session_path, method: :delete %></i>
              </li>
              
            <% else %>
              <li>
                <i class="fa-solid fa-house"><%= link_to "Home", root_path %></i>
              </li>
              <li>
                <i class="fa-solid fa-paperclip"><%= link_to "About", about_path %></i>
              </li>
              <li>
                <i class="fa-solid fa-user-plus"><%= link_to "Sign up", new_user_registration_path %></i>
              </li>
              <li>
                <i class="fa-solid fa-right-to-bracket"><%= link_to "Log in", new_user_session_path %></i>
              </li>
            <% end %>
          </ul>  
        </nav>  
            
        </div>
      </div>
      
    </header>
      
    <main>
      <div><%= flash[:notice] %></div>
    </main>
    
    <%= yield %>
    <footer>
      <div class ="container mt-5">
        <div class ="row">
          <div class ="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
